version: "3.8"

services:
  redis:
    image: redis/redis-stack:latest
    container_name: flashsale-redis
    restart: always
    ports:
      - "6379:6379"
      - "8001:8001"
    volumes:
      - redis_data:/data

  backend:
    build: .
    container_name: flashsale-api
    restart: always
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - PORT=8000
    depends_on:
      - redis

  nginx:
    image: nginx:alpine
    container_name: flashsale-gateway
    restart: always
    ports:
      - "8080:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - backend

  prometheus:
    image: prom/prometheus
    container_name: flashsale-prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    depends_on:
      - nginx

  grafana:
    image: grafana/grafana
    container_name: flashsale-grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
      - prometheus

volumes:
  redis_data:
