apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-service
  namespace: e-com-ns
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auth-service
  template:
    metadata:
      labels:
        app: auth-service
    spec:
      containers:
        - name: auth-service
          image: mayurbadgujar03/auth-service:v1
          ports:
            - containerPort: 3001
          env:
            - name: PORT
              value: "3001"
          envFrom:
            - secretRef:
                name: e-com-secrets
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
---
apiVersion: v1
kind: Service
metadata:
  name: auth-service
  namespace: e-com-ns
spec:
  selector:
    app: auth-service
  ports:
    - protocol: TCP
      port: 3001
      targetPort: 3001
