apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: e-com-ingress
  namespace: e-com-ns
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
spec:
  rules:
    - http:
        paths:
          - path: /api/v1/auth
            pathType: ImplementationSpecific
            backend:
              service:
                name: auth-service
                port:
                  number: 3001

          - path: /api/v1/stock
            pathType: ImplementationSpecific
            backend:
              service:
                name: stock-service
                port:
                  number: 3002

          - path: /api/v1/orders
            pathType: ImplementationSpecific
            backend:
              service:
                name: order-service
                port:
                  number: 3003

          - path: /
            pathType: ImplementationSpecific
            backend:
              service:
                name: api-gateway
                port:
                  number: 3000
