apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-service
  namespace: e-com-ns
spec:
  replicas: 1
  selector:
    matchLabels:
      app: order-service
  template:
    metadata:
      labels:
        app: order-service
    spec:
      containers:
        - name: order-service
          image: mayurbadgujar03/order-service:v1
          ports:
            - containerPort: 3003
          env:
            - name: PORT
              value: "3003"
          envFrom:
            - secretRef:
                name: e-com-secrets
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
---
apiVersion: v1
kind: Service
metadata:
  name: order-service
  namespace: e-com-ns
spec:
  selector:
    app: order-service
  ports:
    - protocol: TCP
      port: 3003
      targetPort: 3003
